@font-face {
  font-family: "amatisc";
  src: url(../font/amaticsc.woff2);
}
* {
  padding: 0;
  margin: 0;
  font-family: "amatisc", sans-serif;
  box-sizing: border-box;
}
input {
  width: 100%;
}
header {
  position: relative;
}
header nav {
  display: flex;
  align-items: start;
  position: absolute;
  justify-content: space-evenly;
  z-index: 1;
  top: 0;
  left: 0;
}
#check:checked ~ ul {
  display: flex;
}
#check {
  display: none;
}
#menu {
  display: none;
  list-style-type: none;
}
#block1 {
  background-image: url(../img/pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#block1 h1,
h2 {
  color: white;
}
#block1 .horaire {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: black;
  color: white;
}
.letme {
  background-color: black;
  color: white;
  font-size: 150%;
}
#block2 h2 {
  background-color: black;
  color: white;
  padding: 2rem;
  font-size: 350%;
}
#block2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
#borderblock2 {
  border: 0.01px solid rgba(105, 105, 105, 0.795);
  width: 95%;
}
#block2 h4,
p {
  background-color: white;
}

.themenu {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  width: 100%;
  font-size: 250%;
}
#pizza h4 {
  font-size: 200%;
  padding: 0.5rem;
}
#pizza p {
  font-size: 150%;
  padding: 0.5rem;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.192);
}
.spancolor,
.pizzared {
  background-color: red;
}
.spancolor2 {
  background-color: grey;
}
#pizza h4 {
  display: flex;
  justify-content: space-between;
}
.spantarif {
  background-color: grey;
}

#chef {
  width: 50%;
}

#block3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(109, 71, 71);
  color: white;
}
#block3 p {
  background-color: rgb(109, 71, 71);
  font-size: 140%;
}
#block3 h3 {
  font-size: 300%;
  padding: 2rem;
  font-size: 350%;
}
#borderblock3 {
  width: 95%;
}
#onepage img {
  width: 100%;
}
.openhour {
  font-size: 200%;
}
#openinghour {
  display: flex;
  justify-content: space-around;
  font-size: 130%;
}

#paragraphechef {
  display: flex;
  height: 160px;
  width: 100%;
}

.paragraphechefh4 {
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  font-size: 150%;
}
.paragraphechefimg {
  display: flex;
  justify-content: flex-end;
}
#paragraphechefh4 {
  width: 70%;
}
#openinghour p {
  padding: 1rem;
}
#chef {
  clip-path: ellipse(41% 41% at 50% 50%);
}
#block4 {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#borderblock4 {
  width: 95%;
}
#block4 img {
  width: 100%;
}
#contact {
  color: white;
  font-size: 200%;
}
#block4 p {
  background-color: grey;
  color: white;
  width: 90%;
  margin: auto;
  font-size: 150%;
}
#block4 h4 {
  width: 90%;
  margin: auto;
  padding: 2rem;
  justify-content: center;
}
#block4 h4 {
  display: flex;
}
#block4 .fyi {
  background-color: black;
  color: white;
}
#block4 .reserve {
  font-weight: 800;
}
#formulaire div {
  width: 80%;
  margin: auto;
  padding: 0.4rem;
}
#formulaire input {
  height: 30px;
}
#sendmessage {
  width: 100%;
  height: 30px;
  margin: auto;
}
footer {
  display: flex;
  background-color: black;
}
footer p {
  background-color: black;
  margin: auto;
  color: white;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  #block1 h1,
  h2 {
    font-size: 400%;
  }
  #block1 .letme {
    font-size: 200%;
  }
  #block1 .horaire {
    font-size: 150%;
  }
  #borderblock2,
  #borderblock3,
  #borderblock4 {
    width: 80%;
  }
}